<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Content Guidelines</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    .li{
        margin: 15px;
        padding: 15px;
    }
  </style>
</head>
<body style="margin:10px;padding:10px">
<h1>THE LIVEPOST CONTENT GUIDELINES</h1>

LivePost was built with the intention of keeping people updated about things they care about.  While the technology we have built allows people to tell awesome stories, we know that some might want to take advantage of its flexibility. Read on to understand the difference between normal human behavior (behavior we encourage) and sketchy behavior (behavior that is not allowed).

<h2>Normal Human Behavior</h2>
<ol>
<li>The Golden Rule. Respect fellow users at all times.</li>
<li>Content is King. Tell high quality stories.</li>
<li>No trolling.</li>
<li>Follow the law. Abide by all applicable laws and regulations.</li>
<li>WWYDIYGSY. Just imagine that when you post.</li>
</ol>
<h2>Sketchy Behavior</h2>

<h3>Nudity</h3>
<ol type="a"><li>While we don't prohibit sessions that contain tasteful nudity, pornography is not allowed. We want people of all ages to feel comfortable using LivePost. So:</li>
<ol type="i"><li>Pornography is not allowed.</li> 
<li>If child pornography is detected, the story creator will be banned and the authorities will be contacted.</li></ol></ol>

<h3>Illicit Behavior</h3>
<ol type="a"><li>Any acts that are considered unlawful by local laws are prohibited in LivePost. The following types of posts are not allowed:</li>
<ol type="i"><li>Bullying</li>
<li>Threats</li>
<li>Violent Behavior</li>
<li>Conspiring to perform violent behavior</li>
<li>Encouraging self-harm, suicide or drug use/abuse</li>
<li>Identity theft</li></ol></ol>

<h3>Private Information</h3>
<ol type="a"><li>You may not disclose any person's private information without their authorization, including:</li>
<ol type="i"><li>Credit Card Information</li>
<li>Social Security Numbers</li>
<li>Home Addresses</li>
<li>Telephone Numbers</li>
<li>Usernames and Passwords</li></ol></ol>

<h3>Regulated Goods Stories</h3>
<ol type="a"><li>Make sure you are following local laws if your story has firearms, alcohol, tobacco, drugs or adult related posts.</li></ol>

<h3>Spam Sessions</h3>
<ol type="a"><li>Stories that are regarded as spam by LivePost's employees will be removed from the app without notice.</li>
<li>What is considered spam?</li>
<ol type="i"><li>A story where a high percentage of its posts are low quality advertisements.</li>
<li>Multiple stories with little to no content that do not provide value.</li>
<li>Deceptive titles created to lure in unsuspecting users (Clickbait).</li></ol></ol>

<h3>Phishing or Fraudulent Stories</h3>
<ol type="a"><li>We want to make our users feel secure when using LivePost. Stories that are involved in phishing or any other type of scam or fraud are not allowed.</li></ol>

<h3>Trademarks, Copyright, Proprietary Content</h3>
<ol type="a"><li>When starting a story be careful you only share content that you have legal rights to.</li></ol>

<h3>Graphic Content</h3>
<ol type="a"><li>Stories are created to show people what is happening around the world and sometimes these stories might share graphic content to condemn certain actions. Other times, people might share this type of content for sadistic purposes. Sharing in a sadistic nature is not allowed.</li></ol>

<h3>Prejudice and Discrimination</h3>
<ol type="a"><li>Discriminating comments about a person's or people's race, ethnicity, national origin, religion, sex, gender, sexual orientation, disability or medical condition is not allowed.</li></ol>

Lastly, we can't possibly monitor every single story and post that is created, so we need your help to flag anything that falls into the sketchy behavior category. We reserve the right to ban users from LivePost or take down any stories or posts that violate these rules, without prior consent.
</body>
</html>