<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>LivePost</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    .li{
        margin: 15px;
        padding: 15px;
    }
  </style>
</head>
    <body style="margin:10px;padding:10px">
<h1>LivePost FAQ</h1><br>
<h3>I forgot my password!</h3>
<br>Just send us an email to password@livepost.news and we'll help you out with that.
<br><h3>I've created a post on LivePost, now what?</h3><br>
Now share it with the world! You can embed the post on your blog and it will update in real time or share your content on Twitter and Facebook.
<br><h3>So how do I embed a post on my blog?</h3><br>
In your post page click on the share button at the top. On the share page you'll see the blogging platforms we can embed on. Just select yours or click on the link icon, and a code will be copied to your clipboard. On your blogging platform, create a new post and paste this code as html, and that's it. There are a few extra steps if you have a Wordpress.org blog, so just check <a href=" https://youtu.be/Pwtb-7XFV9Y"> this tutorial out.</a>
<br><h3>And how do I share something on social media?</h3><br>
Just long press whatever you want to share and you'll open a menu where you can choose where to share your content. Once you choose which social network to share it on, you'll be able to comment something before you send it.
<br><h3>I want to invite someone to help me with my story, how do I add them?</h3><br>
Adding contributors is pretty simple. Just go to the post's settings page (click on your post's title), and then add the person's email or twitter account (depending which he used to signup to LivePost). Once you add them, the post will appear on their Home screen, and they'll now be able to contribute to your story. 
<br><h3>Can I change the title or picture of my post?</h3><br>
Yeah, clicking on your post's title in the Post Screen will take you to the post's settings. Here just click on the title or on the image again and you'll be able to change it.
<br><h3>How long can the videos I shoot be?</h3><br>
There is no limit to the length of your videos.